# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Responda: É possível ter elementos de tipos difentes em uma mesma lista? Exemplo: strings e números?

In [4]:
'Sim é possivel ter elementos de tipos diferentes em uma mesma lista'
exemplo = ['String', 22]
exemplo

['String', 22]

2) Trabalhando com Listas, faça:
- a) Cria uma lista de valores inteiros com o **nome** e **idades**.
- b) Imprima apenas segundo elemento da lista.
- c) Imprima a quantidade de elementos da lista.
- d) Substitua o valor do segundo elemento da lista e imprima o resultado.
- e) Imprima apenas os valores do segundo elemento em diante.
- f) Remova qualquer elemento da lista e imprima o resultado.
- g) Defina uma lista chamada salarios com os valores : **900,1200,1500,800,12587,10000**.
- h) Verifique se contém o valor 10000 na lista de salarios.
- i) Imprima o menor e maior valor da lista.
- j) Adicione o valor 7000 a lista.
- l) Extenda a lista com dois novos elementos utilizando apenas um método.
- m) Imprima o índice do elemento de valor 800 da lista de salarios.
- n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [6]:
nomes = ['Felipe', 22, 'Joao', 35, 'Maria', 18]
nomes

['Felipe', 22, 'Joao', 35, 'Maria', 18]

In [7]:
nomes[1]

22

In [8]:
len(nomes)

6

In [9]:
nomes[1] = 28
nomes

['Felipe', 28, 'Joao', 35, 'Maria', 18]

In [11]:
salarios = [900, 1200, 1500, 800, 12587, 10000]
salarios

[900, 1200, 1500, 800, 12587, 10000]

In [12]:
10000 in salarios

True

In [13]:
min(salarios)

800

In [23]:
salarios.append(7000)
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000]

In [25]:
salarios = salarios + [12000, 8700]
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000, 12000, 8700]

3) Trabalhando com dicionários:
- a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo:
    pessoas = {'Rodrigo':30, 'Fulana':18}
- b) Imprima a idade da pessoa "Fulana"
- c) Imprima as Chaves do dicionario criado anteriormente.
- d) Imprima os valores das chaves do dicionário
- e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())

In [26]:
pessoas = {'Cid': 40, 'Samara': 38, 'Beatriz': 36}
pessoas

{'Beatriz': 36, 'Cid': 40, 'Samara': 38}

In [27]:
pessoas['Samara']

38

In [29]:
pessoas.keys()

dict_keys(['Cid', 'Samara', 'Beatriz'])

In [30]:
pessoas.values()

dict_values([40, 38, 36])

In [33]:
pessoas.setdefault('Felipe',30)
pessoas

{'Beatriz': 36, 'Cid': 40, 'Felipe': 30, 'Samara': 38}

4) Estruturas condicionais:
- a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
- b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. 
  Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
- c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.

In [35]:
if 5 > 1:
    print('5 é maior que 1')

5 é maior que 1

In [41]:
x1, y1 = 3, 8
print(x1)
print(y1)

3
8

In [42]:
if x1 > y1:
    print("x1 é maior que y1")
else:
    print("y1 é maior que x1")

y1 é maior que x1

In [64]:
for i in [2,3,4,5,6,7]:
    print ("Valor: %s" %i)

Valor: 2
Valor: 3
Valor: 4
Valor: 5
Valor: 6
Valor: 7

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**